<br>
<h4 class="ui horizontal divider header">
    <i class="setting icon"></i>
    Edit Profile
</h4>   
<div *ngIf="adie">
  <form class="ui form" action="">
    <div class="field">
        <label>Name: </label>
        <input [(ngModel)]="adie.name" placeholder="name" required/>    
    </div>
    <div *ngIf="adie.admin" class="field">
        <label for="cohort">Cohort</label>
        <select [(ngModel)]="adie.cohort" required>
          <option *ngFor="#cohort of cohorts" [value]="cohort">{{cohort}}</option>
        </select>    
    </div>
    <div class="field">
        <label>Twitter: </label>
        <input [(ngModel)]="adie.twitter" placeholder="Twitter"/>    
    </div>
    <div class="field">
        <label>Linked In: </label>
        <input [(ngModel)]="adie.linked_in_url" placeholder="Linked In"/>    
    </div>
    <div class="field">
        <label>Email: </label>
        <input [(ngModel)]="adie.email" placeholder="Email"/>
    </div>
    <div class="field">
        <label>Capstone URL: </label>
        <input [(ngModel)]="adie.capstone_url" placeholder="Capstone Url"/>
    </div>
    <div class="field">
        <label>Capstone Description: </label>
        <textarea rows="3" [(ngModel)]="adie.capstone_description" placeholder="Capstone Description"/></textarea>
    </div>
    <button class"ui button" type="submit" (click)="submitForm()">Update</button>
  </form>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>