<div class="ui four doubling link cards">
	<div class="card" *ngFor="#adie of adies" (click)="gotoDetail(adie)">
		<div class="image">
			<img *ngIf="adie.image" [src]="'app/assets/images/adies/' + adie.image">
			<img *ngIf="!adie.image" [src]="'app/assets/images/adies/' + 'ada1.jpg'">
		</div>
		<div class="content">
			<div class="ui small header red-text">{{adie.name}}</div>
			<div class="meta">
				<div class="left floated">
					C{{adie.cohort}}
				</div>
				<div class="right floated">
					<i *ngIf="adie.linked_in_url" class="no-margin linkedin square icon"></i>
					<i *ngIf="adie.twitter" class="no-margin twitter icon"></i>
					<i *ngIf="adie.email" class="no-margin mail square icon"></i>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>