<div class="ui four link cards">
	<div class="card" *ngFor="#adie of adies" (click)="gotoDetail(adie)">
		<div class="image">
			<img *ngIf="adie.image" [src]="'app/assets/images/adies/' + adie.image">
			<img *ngIf="!adie.image" [src]="'app/assets/images/adies/' + 'ada1.jpg'">
		</div>
		<div class="content">
			<a class="header">{{adie.name}}</a>
			<div class="meta">
				<i *ngIf="adie.github_username" class="github square icon"></i>
				<i *ngIf="adie.linked_in_url" class="linkedin square icon"></i>
				<i *ngIf="adie.twitter" class="twitter icon"></i>
				<i *ngIf="adie.email" class="mail square icon"></i>
			</div>
		</div>
		<div class="extra content">
			<span class="left floated">
				Cohort {{adie.cohort}}
			</span>
      <span class="right floated">
        Interned at...
      </span>
    </div>
	</div>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>