<h3>Edit Your Profile</h3>
<div *ngIf = "errorMessage">{{errorMessage}}</div>
<div *ngIf ="adie">
  <form action="">
    <label>Name: </label>
    <input [(ngModel)]="adie.name" placeholder="name" required/>
    <label for="cohort">Cohort</label>
    <select [(ngModel)]="adie.cohort" required>
      <option *ngFor="#cohort of cohorts" [value]="cohort">{{cohort}}</option>
    </select>
    <label>Twitter: </label>
    <input [(ngModel)]="adie.twitter" placeholder="twitter"/>
    <label>Linked In: </label>
    <input [(ngModel)]="adie.linked_in_url" placeholder="linked in URL"/>
    <label>Email: </label>
    <input [(ngModel)]="adie.email" placeholder="email"/>
    <label>Bio: </label>
    <input [(ngModel)]="adie.bio" placeholder="Tell us a little about yourself!"/>
    <button type="submit" (click)="submitForm()">Update</button>
  </form>
</div>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>